<div class="container">
  <div [hidden]="isFormHidden">
    <div class="text-center">
      <h3><b>Date:</b> {{currentDate}}</h3>
    </div>
    <form class="col">
      <div class="co bg-lightl">
        <div [formGroup]="formGroup" (validSubmit)="onSubmit()">
          <div class="border">
            <h4 class="text-center">Daily</h4>
            <div class="form-group">
              <div class="col">
                <label class="control-label">Weight</label>
                <input type="text" class="form-control" formControlName="weight">
              </div>
              <div class="col">
                <label class="control-label">B/P</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="systolic">
                  <h3>/</h3>
                  <input type="text" class="form-control" formControlName="diastolic">
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="border">
            <h4 class="text-center">Measurements</h4>
            <div class="form-group">
              <div class="col">
                <label class="control-label">Neck</label>
                <input type="text" class="form-control" formControlName="neck">
              </div>
              <div class="col">
                <label class="control-label">Chest</label>
                <input type="text" class="form-control" formControlName="chest">
              </div>
            </div>
            <div class="form-group">
              <div class="col">
                <label class="control-label">Arm</label>
                <input type="text" class="form-control" formControlName="arm">
              </div>
              <div class="col">
                <label class="control-label">Waist</label>
                <input type="text" class="form-control" formControlName="waist">
              </div>
            </div>
          </div>
          <br>
          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="!loading && isFormHidden">
    <div class="row justify-content-center">
      <google-chart [type]="'ScatterChart'"
                    [data]="weightData"
                    [options]="chartOptions"></google-chart>
    </div>
  </div>
</div>
